<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFZooManager.Properties.Settings.SQLDBConnectionString"
            connectionString="Data Source=ELI;Initial Catalog=SQLDB;User ID=sa;Password=Sochi2016!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>